<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home page</title>
</head>
<body>
<h1>Post offices:</h1>
<h2>Add</h2>
<form method="post" action="/post/add">
  <label>
    <input type="text" name="name" placeholder="Post office name" />
  </label>
  <label>
    <input type="text" name="cityName" placeholder="Post office city name" />
  </label>
  <button type="submit">Add</button>
</form>
<h2>List</h2>
{{#posts}}
  <h4>Post office name: {{name}}</h4>
  <h4>Post office city: {{cityName}}</h4>
  <form method="post" action="/post/remove">
    <button type="submit" name="id" value="{{id}}">Remove</button>
  </form>
  <hr>
{{/posts}}
{{^posts}}
  <b>No post offices added...</b>
{{/posts}}
<hr>
<br>
<hr>
<h1>Departures:</h1>
<h2>Add</h2>
<form method="post" action="/departure/add">
  <label>
    <select name="postId">
      <option disabled>Select post office</option>
      {{#posts}}
        <option value="{{id}}" selected>{{name}}</option>
      {{/posts}}
    </select>
  </label>
  <label>
    <input type="text" name="type" placeholder="Departure type" />
  </label>
  <label>
    <input type="text" name="date" placeholder="Departure date" />
  </label>
  <button type="submit">Add</button>
</form>
<h2>List</h2>
{{#departures.entrySet}}
  <h2>Post office id: {{key}}</h2>
  <ul>
    <h4>Departures:</h4>
    {{#value}}
      <li>
        <form method="post" action="/departure/remove">
          {{type}} {{date}}
          <button type="submit" name="id" value="{{id}}">
            Remove
          </button>
        </form>
      </li>
    {{/value}}
  </ul>
{{/departures.entrySet}}
{{^departures.entrySet}}
  <b>No departures added...</b>
{{/departures.entrySet}}
</body>
</html>