<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>Home page</title>
</head>
<body>
<div class="container pt-5">
  <h1>Post offices</h1>
  <form method="post" action="/post/add">
    <div class="mb-3">
      <label for="nameInput" class="form-label">Post office name</label>
      <input type="text" class="form-control" id="nameInput" name="name" placeholder="Russian Post" required>
    </div>
    <div class="mb-3">
      <label for="cityNameInput" class="form-label">Post office city name</label>
      <input type="text" class="form-control" id="cityNameInput" name="cityName" placeholder="Moscow" required>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Add</button>
  </form>
  <hr>
  {{#posts}}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">City name: <b>{{cityName}}</b></p>
        <p>Departures list:</p>
        {{#departures.0}}
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Type</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            {{#departures}}
                <th scope="row">{{id}}</th>
                <td>{{type}}</td>
                <td>{{date}}</td>
                <td>
                  <form method="post" action="/departure/{{id}}/delete">
                    <button type="submit" class="btn btn-danger">Remove</button>
                  </form>
                </td>
              </tr>
            {{/departures}}
            </tbody>
          </table>
        {{/departures.0}}
        {{^departures}}
          <b>No departures added...</b>
        {{/departures}}
        <form method="post" action="/post/{{id}}/delete">
          <button type="submit" class="btn btn-danger mt-2" name="id" value="{{id}}">Remove</button>
        </form>
      </div>
    </div>
  {{/posts}}
  {{^posts}}
    <b>No post offices added...</b>
  {{/posts}}
  <hr>
  <br>
  <h1>Add departure</h1>
  <form method="post" action="/departure/add">
    <div class="mb-3">
      <label for="postIdInput" class="form-label">Post office</label>
      <select class="form-select" id="postIdInput" name="postId" required>
        <option selected>Select post office</option>
        {{#posts}}
          <option value="{{id}}" selected>{{name}}</option>
        {{/posts}}
      </select>
    </div>
    <div class="mb-3">
      <label for="typeInput" class="form-label">Departure type</label>
      <input type="text" class="form-control" id="typeInput" name="type" placeholder="Letter" required>
    </div>
    <div class="mb-3">
      <label for="dateInput" class="form-label">Departure date</label>
      <input type="date" class="form-control" id="dateInput" name="date" placeholder="dd.mm.yyyy" required>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Add</button>
  </form>
</div>
</body>
</html>